html {
  scroll-behavior: smooth;
}
.main {
  background-image: url("../images/background.png");
  background-position: center;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}

.nav {
  background-color: #007bff;
  height: 5rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  align-content: center;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
   position: fixed;
  top: 0;
  box-sizing: border-box;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 55vh;
  margin-top: -69px;
  padding: 0vh 4vw;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  font-family: "Raleway",sans-serif;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #111;
}
.nav-toggle {
  display: none;
}

.nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0,1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
  background-color: #000;
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1,1);
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(22, 8, 8);
  text-transform: uppercase;
  width: 25rem;
  font-family: "Raleway",sans-serif;
  font-weight: 800;
}

.smalllogo {
  display: none;
}
a {
  text-decoration: none;
  color: #111;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.5,0,0.5,1);
    height: 100vh;
  }
 .nav__list {
   list-style: none;
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   margin: 0;
   padding: 135px;
   background-color: #111;
   width: 100%;
 } 
}

#user-profile {

  margin-top: 0;
}
/* **************************************************************** */

/* *********Main Portion ************ */
.main{
  min-height: 100vh;
  margin-top: 5rem;
}

  .main .head-center {
  line-height: 64px;
    font-size: 64px;
    letter-spacing: -0.2px;
    font-weight: 600;
    padding-top: 120px;
    padding-left: 20px; 
       
} 
.main .input-group {
  width: 20%;
  padding-left: 20px;
}
.main .signup-button {
  padding-left: 20px;
  padding-top: 10px;
  
}
.main .signup-button .center-button {
  text-decoration: none;
  color: aliceblue;
}

/* main section ends */



/* Course Section*/
.courses-container {
  position: relative;
  background-color: #007bff;
  width: 100%;
  box-sizing: border-box;
  
  
}
.courses-section {
  background-color: #007bff;
   overflow-x: scroll;  
}
h1 {
  color: aliceblue;
  font-size: 50px;
  
}
.courses {
  display: flex;
  flex-direction: row;
  
  width: 1250px;
  padding: 3rem ;
}

#left-arrow {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  z-index: 3;
  background-color: aliceblue;

}

#right-arrow {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  background-color: aliceblue;  
}


.card {
  min-width: 300px;
  height: 500px;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
   /*margin: 2rem; */
  padding: 1.5rem;
  transition: 0.2s;
  
}
.card:hover {
  transform: translateY(-1rem);
}
.card:hover~.card{
  transform: translateX(130px);
}
#footer-section {
  background-color:gray;
  
}
